



<nav class="navbar navbar-expand-lg navbar-primary bg-dark rounded-bottom">
    <div class="container-fluid">
        <a class="navbar-brand font-monospace text-light ml-4 fw-bolder ">ShoppingCart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active fw-bold">
                    <a class="nav-link text-secondary" routerLink="/cardView">view products</a>
                </li>
                <li class="nav-item fw-bold ">
                    <a class="nav-link text-secondary" routerLink="/cardSearch">search product</a>
                </li>

            </ul>
            <div class="d-flex">
                <button class="btn btn-danger  btn-sm font-monospace fw-bolder" style="border-radius: 5px;"
                    routerLink="/userLogin">Log out</button>

            </div>
        </div>
    </div>
</nav>