<div style="background-color:rgba(113, 29, 146, 0.697);">

    <div class="container ">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                    <h2 class="text-center font-monospace fw-bold my-5">All Product Details</h2>
                </div>
                <table class="table  font-monospace  ">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>

                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr><td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td><td>TEST</td></tr>
                       
                        







                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>