<app-nav-admin></app-nav-admin>

<div style="background-color:rgba(113, 29, 146, 0.697);">

    <div class="container ">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                    <h2 class="text-center font-monospace fw-bold my-5">All Product Details</h2>
                </div>
                <table class="table table-info font-monospace table-hover  table-bordered ">
                    <thead class="bg-secondary table-secondary">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>

                        </tr>
                    </thead>
                    <tbody class="bg-light ">
                        
                        <tr *ngFor="let i of product">

                            <th scope="row">{{i.name}}</th>
                            <td>{{i.category}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.price}}</td>
                            <td ><a href={{i.image}}>{{i.image}}</a></td>
                            

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>