

<div class="container ">
    <div class="row ">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12 ">
            <div class="row g-3 mt-2 d-flex align-items-center flex-column">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2 class="font-monospace fw-bolder">User Login Page</h2>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <label for="" class="form-label font-monospace fw-bold">Email Id</label>
                    <input type="text" placeholder="email id"
                        class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace fw-bold ">Password</label>
                    <input type="text" placeholder="password"
                        class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button class="btn btn-dark fw-bold font-monospace py-1">Login</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a class="font-monospace fw-bold" routerLink="">New user?, Register
                        here.</a>
                </div>
            </div>
        </div>
    </div>
</div>